body {
    background-color: #202933;
    color: white;
  }

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
table.score-board {
    display:block; 
    width: auto !important;
}

table.score-board td, table.score-board th {
    font-size: 1.5vw;
    padding: 0.5vw;
    border: 1px solid white;
}
